<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex" rel="stylesheet">
<title>Document</title>
    <style>
body {
background-color: #ffeced;
font-family: 'Roboto Flex', 'sans';
font-size: 16px;
  margin: 0;
  padding: 1rem;
color: #fffbff
}

.masonry-with-flex {
width: 320px;
row-gap: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}
.masonry-with-flex > div {
background-color: #b02496;
}
.masonry-with-flex div {
  border-radius: 12px;
  /* padding: 16px; */
  box-sizing: border-box;
  height: 92px;
  margin: 0 8px 8px 0;
  width: 150px;
  overflow: hidden;


/*
  width: 150px;
  background: #EC985A;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-family: system-ui;
  font-weight: 900;
  font-size: 2rem;
*/
}





.masonry-with-flex div > img {

    border-radius: 12px;
}
    </style>
</head>
  <body>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

    <div id="app">
      <!-- <my-card :artist="artist"></my-card> -->
      <div class="masonry-with-flex">
   <div v-for="artist in ARTISTS">
    	<div style = "display: flex;" >
    	<img style= "align-self: center; height: 150px; width: 150px;" :src="artist.thumbnail" alt="">
  	</div>
  </div>
  <!--
BE3450
F58067
F0CE9F
7EBB75
919D89
<div>
    	<div style="display: flex;">
    	<img style="align-self: center;  height: 150px; width: 150px;" src="1441922956_Sho_Flacco2.jpg" alt="">
  	</div>
  </div>-->
  <div style="height: 242px">
    	<div style="display: flex; flex-direction: column; height: 242px">
    		<img style="height: 150px; width: 150px;" src="1441922956_Sho_Flacco2.jpg" alt="">
  	<div style="font-weight: 500; box-sizing: border-box; padding:8px 0 0 16px; margin: 0; line-height: 24px; height: 24px; overflow: unset; letter-spacing: .15px">Sho Flacco</div>
<!-- 
https://stackoverflow.com/questions/8837050/allow-specific-tag-to-override-overflowhidden 
https://medium.com/@thomas.sameshima/css-overriding-the-parents-overflow-hidden-90c75a0e7296
-->
<div style="box-sizing: border-box; padding-left:16px; letter-spacing: .25px; margin: 0; height: 20px; line-height: 20px; font-size: 14px;">Norfolk</div>


<!-- <div style="box-sizing: border-box; height: 42px;">
<object data="twitter-6.svg" style="padding-left: 16px; height: 36px; width:36px" type="image/svg+xml"></object>
<object data="Instagram_Glyph_Gradient_RGB.svg" style="padding-left: 8px; height: 36px; width:36px" type="image/svg+xml"></object>
<object data="youtube-3.svg" style="padding-left: 8px; height: 36px; width:36px" type="image/svg+xml"></object>
</div> -->
<div style="height: 36px; display: flex; padding-left: 16px;">
<div style=" width:36px"><img style="width:36px" src="music.png" /></div>
<div style="width:36px"><img style="width:36px" src="film.png" /></div>
</div>


	</div>



  </div>
  <div>
    4
  </div>
  <!-- <div>
    5
  </div>
  <div>
    6
  </div>
  <div>
    7
  </div>
  <div>
    8
  </div>
  <div>
    9
  </div>
  <div>
    10
  </div>
  <div>
    11
  </div>
  <div>
    12
  </div>
  <div>
    13
  </div>
  <div>
    14
  </div>
  <div>
    15
  </div>-->
</div>
    </div>
    <script>
const ARTISTS = [
/*
{
name:'FooBar',
origin: 'Chesapeake',
disciplines: ['painting', 'sculpture']
},*/
{
name:'Tracielynn',
origin: 'Hampton Roads',
thumbnail: 'Tracielynn-2.jpg',
disciplines: ['music']
},
];
      const DISCPLINES = [
        'painting',
        'sculpture',
        'architecture',
        'film',
        'music',
        'literature',
        'dance',
      ]
      const CITIES = [
        'Chesapeake',
        'Franklin',
        'Hampton',
        'Moyock',
        'Newport News',
        'Norfolk',
        'Poquoson',
        'Portsmouth',
        'Suffolk',
        'Virginia Beach',
        'Williamsburg',
      ]
    </script>
    <script type="module">
      import { defineComponent, createApp } from 'vue'
      const MyCard = defineComponent({
        name: 'MyCard',
        props: {
          artist: Object,
        },
        template: `
        <div class="mdc-card">
    <div class="mdc-card__primary-action" tabindex="0">
      <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('{{ artist.links.image }}');"></div>
      <div>
        <h2 class="mdc-typography mdc-typography--headline6">{{ artist.artist_name }}</h2>
        <h3 class="mdc-typography mdc-typography--subtitle2">{{ artist.origin }}</h3>
      </div>
    </div>
    <div class="mdc-card__content">
      <h3 class="mdc-typography mdc-typography--subtitle1">Disciplines:</h3>
      <div class="mdc-chip-set">
        <div v-for="discipline in artist.disciplines" :key="discipline" class="mdc-chip">{{ discipline }}</div>
      </div>
      <h3 class="mdc-typography mdc-typography--subtitle1">Discography:</h3>
      <ul class="mdc-list">
        <li v-for="(album, year) in artist.discography" class="mdc-list-item">{{ year }} - {{ album }}</li>
      </ul>
      <h3 class="mdc-typography mdc-typography--subtitle1">Videography:</h3>
      <ul class="mdc-list">
        <li v-for="(video, year) in artist.videography" class="mdc-list-item">{{ year }} - {{ video }}</li>
      </ul>
      <h3 class="mdc-typography mdc-typography--subtitle1">Anthology:</h3>
      <ul class="mdc-list">
        <li v-for="(work, year) in artist.anthology" class="mdc-list-item">{{ year }} - {{ work }}</li>
      </ul>
      <h3 class="mdc-typography mdc-typography--subtitle1">Links:</h3>
      <ul class="mdc-list">
        <li class="mdc-list-item"><a :href="artist.links.website">{{ artist.links.website }}</a></li>
        <li class="mdc-list-item"><a :href="artist.links.youtube">{{ artist.links.youtube }}</a></li>
        <li class="mdc-list-item"><a :href="artist.links.instagram">{{ artist.links.instagram }}</a></li>
      </ul>
    </div>
  </div>
        `,
      })
      createApp({
        components: {
          MyCard,
        },
        data() {
          return {
		ARTISTS,
            DISCPLINES,
            CITIES,
            artist: {
              artist_name: 'John Smith',
              origin: 'New York, USA',
              disciplines: new Set(['painting', 'sculpture']),
              discography: {
                '2020': 'Album 1',
                '2018': 'Album 2',
                '2015': 'Album 3',
              },
              videography: {
                '2021': 'Video 1',
                '2019': 'Video 2',
                '2017': 'Video 3',
              },
              anthology: {
                '2021': 'Work 1',
                '2018': 'Work 2',
                '2014': 'Work 3',
              },
              links: {
                website: 'https://example.com',
                youtube: 'https://www.youtube.com/channel/UC...',
                instagram: 'https://www.instagram.com/example',
                image: 'https://example.com/image.jpg',
              },
            },
            message: 'Hello Vue!',
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>